@import '../../../styles/_variables.scss';
.button {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.lg__button {
    font-size: 1.1rem;
    min-width: 64px;
    max-width: 200px;
    padding: 5px 15px;
}

.md__button {
    font-size: 1.1rem;
    min-width: 45px;
    max-width: 200px;
    padding: 3px 10px;
}

.bg__none__button {
    background: transparent;
}

.bg__normal__button {
    background-color: $primary-color;
}
.bg__normal__button:hover {
    background-color: $secondary-color;
}
